<!DOCTYPE html>
<html>
<head>
	<title>Draw Index 2</title>

	<!-- Meta -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="Sistem undian">

	<!-- Draw CSS -->
	<link rel="stylesheet" type="text/css" href="assets/css/draw2.css">

	<!-- Bootstrap -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

	<!-- Javascript -->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<script src="assets/js/draw.js"></script>
</head>
<body>

	<!-- Main Content -->
	<div class="main-content">
		<!-- Main -->
		<div class="main2 text-center font-weight-bold">
			<div class="main-head">
				<h1 class="mb-0">Undian 24 Tiket Gratis ke Seoul Ketemu Blackpink</h1>
				<hr class="line-title col-md-8 mt-0"></hr>
			</div>

			<div class="row text-lato text-left">
				<div class="col-md-3 mb-4">
					Mutiara Hardiani<br>
					<span class="text-lato-thin">24060118120007</span>
				</div>
				<div class="col-md-3 mb-4">
					Mutiara Hardiani<br>
					<span class="text-lato-thin">24060118120007</span>
				</div>
				<div class="col-md-3 mb-4">
					Mutiara Hardiani<br>
					<span class="text-lato-thin">24060118120007</span>
				</div>
				<div class="col-md-3 mb-4">
					Mutiara Hardiani<br>
					<span class="text-lato-thin">24060118120007</span>
				</div>
				<div class="col-md-3 mb-4">
					Mutiara Hardiani<br>
					<span class="text-lato-thin">24060118120007</span>
				</div>
				<div class="col-md-3 mb-4">
					Mutiara Hardiani<br>
					<span class="text-lato-thin">24060118120007</span>
				</div>
				<div class="col-md-3 mb-4">
					Mutiara Hardiani<br>
					<span class="text-lato-thin">24060118120007</span>
				</div>
				<div class="col-md-3 mb-4">
					Mutiara Hardiani<br>
					<span class="text-lato-thin">24060118120007</span>
				</div>
				<div class="col-md-3 mb-4">
					Mutiara Hardiani<br>
					<span class="text-lato-thin">24060118120007</span>
				</div>
				<div class="col-md-3 mb-4">
					Mutiara Hardiani<br>
					<span class="text-lato-thin">24060118120007</span>
				</div>
				<div class="col-md-3 mb-4">
					Mutiara Hardiani<br>
					<span class="text-lato-thin">24060118120007</span>
				</div>
				<div class="col-md-3 mb-4">
					Mutiara Hardiani<br>
					<span class="text-lato-thin">24060118120007</span>
				</div>
				<div class="col-md-3 mb-4">
					Mutiara Hardiani<br>
					<span class="text-lato-thin">24060118120007</span>
				</div>
				<div class="col-md-3 mb-4">
					Mutiara Hardiani<br>
					<span class="text-lato-thin">24060118120007</span>
				</div>
				<div class="col-md-3 mb-4">
					Mutiara Hardiani<br>
					<span class="text-lato-thin">24060118120007</span>
				</div>
				<div class="col-md-3 mb-4">
					Mutiara Hardiani<br>
					<span class="text-lato-thin">24060118120007</span>
				</div>
				<div class="col-md-3 mb-4">
					Mutiara Hardiani<br>
					<span class="text-lato-thin">24060118120007</span>
				</div>
				<div class="col-md-3 mb-4">
					Mutiara Hardiani<br>
					<span class="text-lato-thin">24060118120007</span>
				</div>
				<div class="col-md-3 mb-4">
					Mutiara Hardiani<br>
					<span class="text-lato-thin">24060118120007</span>
				</div>
				<div class="col-md-3 mb-4">
					Mutiara Hardiani<br>
					<span class="text-lato-thin">24060118120007</span>
				</div>
				<div class="col-md-3 mb-4">
					Mutiara Hardiani<br>
					<span class="text-lato-thin">24060118120007</span>
				</div>
				<div class="col-md-3 mb-4">
					Mutiara Hardiani<br>
					<span class="text-lato-thin">24060118120007</span>
				</div>
				<div class="col-md-3 mb-4">
					Mutiara Hardiani<br>
					<span class="text-lato-thin">24060118120007</span>
				</div>
				<div class="col-md-3 mb-4">
					Mutiara Hardiani<br>
					<span class="text-lato-thin">24060118120007</span>
				</div>
			</div>
		</div>
		<!-- End of Main -->
	</div>
	<!-- End of Main Content -->
</body>
</html>