<!DOCTYPE html>
<html>
<head>
	<title>Draw Index 2</title>

	<!-- Meta -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="Sistem undian">

	<!-- Draw CSS -->
	<link rel="stylesheet" type="text/css" href="assets/css/draw2.css">

	<!-- Bootstrap -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

	<!-- Javascript -->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<script src="assets/js/draw.js"></script>
</head>
<body>
	
	<!-- Sidebar -->
	<aside class="sidebar">
      	<div class="toggle">
        	<a href="#" class="burger js-menu-toggle" data-toggle="collapse" data-target="#main-navbar">
              	<span></span>
            </a>
      	</div>
      	<div class="side-inner">        
	        <div class="nav-menu text-left">
	        	<ul>
		            <li class="active"><a href="new.html">New Draw</a></li>
		            <li><a href="index2.html">Recent Draw</a></li>
		            <li><a href="history.html">Draw History</a></li>
	        	</ul>
	        </div>
    	</div>  
    </aside>
	<!-- End of Sidebar -->

	<!-- Main Content -->
	<div class="main-content">
		<!-- Main -->
		<div class="main2 text-center font-weight-bold">
			<div class="main-head text-left col-md-5">
				<small>Choose draw category</small><br>
				<form action="" method="POST">
					<select name="category_id" class="draw-select">
						<option>Undian </option>
						<option>Undian 100 Official</option>
						<option>Undian 100 Official Merchandise	Blackpink</option>
					</select>
				</form>
			</div>

			<div class="row text-lato text-left mx-auto mt-5">
				<div class="col-md-3 mb-4">
					Mutiara Hardiani<br>
					<small>24060118120007</small>
				</div>
				<div class="col-md-3 mb-4">
					Mutiara Hardiani<br>
					<small>24060118120007</small>
				</div>
				<div class="col-md-3 mb-4">
					Mutiara Hardiani<br>
					<small>24060118120007</small>
				</div>
				<div class="col-md-3 mb-4">
					Mutiara Hardiani<br>
					<small>24060118120007</small>
				</div>
				<div class="col-md-3 mb-4">
					Mutiara Hardiani<br>
					<small>24060118120007</small>
				</div>
				<div class="col-md-3 mb-4">
					Mutiara Hardiani<br>
					<small>24060118120007</small>
				</div>
				<div class="col-md-3 mb-4">
					Mutiara Hardiani<br>
					<small>24060118120007</small>
				</div>
				<div class="col-md-3 mb-4">
					Mutiara Hardiani<br>
					<small>24060118120007</small>
				</div>
				<div class="col-md-3 mb-4">
					Mutiara Hardiani<br>
					<small>24060118120007</small>
				</div>
				<div class="col-md-3 mb-4">
					Mutiara Hardiani<br>
					<small>24060118120007</small>
				</div>
				<div class="col-md-3 mb-4">
					Mutiara Hardiani<br>
					<small>24060118120007</small>
				</div>
				<div class="col-md-3 mb-4">
					Mutiara Hardiani<br>
					<small>24060118120007</small>
				</div>
				<div class="col-md-3 mb-4">
					Mutiara Hardiani<br>
					<small>24060118120007</small>
				</div>
				<div class="col-md-3 mb-4">
					Mutiara Hardiani<br>
					<small>24060118120007</small>
				</div>
				<div class="col-md-3 mb-4">
					Mutiara Hardiani<br>
					<small>24060118120007</small>
				</div>
				<div class="col-md-3 mb-4">
					Mutiara Hardiani<br>
					<small>24060118120007</small>
				</div>
				<div class="col-md-3 mb-4">
					Mutiara Hardiani<br>
					<small>24060118120007</small>
				</div>
				<div class="col-md-3 mb-4">
					Mutiara Hardiani<br>
					<small>24060118120007</small>
				</div>
				<div class="col-md-3 mb-4">
					Mutiara Hardiani<br>
					<small>24060118120007</small>
				</div>
				<div class="col-md-3 mb-4">
					Mutiara Hardiani<br>
					<small>24060118120007</small>
				</div>
				<div class="col-md-3 mb-4">
					Mutiara Hardiani<br>
					<small>24060118120007</small>
				</div>
				<div class="col-md-3 mb-4">
					Mutiara Hardiani<br>
					<small>24060118120007</small>
				</div>
				<div class="col-md-3 mb-4">
					Mutiara Hardiani<br>
					<small>24060118120007</small>
				</div>
				<div class="col-md-3 mb-4">
					Mutiara Hardiani<br>
					<small>24060118120007</small>
				</div>
			</div>
		</div>
		<!-- End of Main -->
	</div>
	<!-- End of Main Content -->
</body>
</html>